@import "tailwindcss";

@theme {
  /* COLORS */
  --color-primary: #f19509;
  --color-primaryDark: #e86f00;
  --color-lightOrange: #f1dabf;
  --color-darkGray: #1a1f25;
  --color-lightGray: #272c35;

  /* CONTAINER PADDING (Like your config) */
  --container-padding: 1rem;
  --container-sm-padding: 2rem;
}

.img-shadow {
  filter: 0px 4px 20px rgba(0, 0, 0, 0.3);
}
.img-shadow2 {
  filter: drop-shadow(10px 30px 15px #3030307a);
}

.input-style {
  @apply px-4 py-2 border-[1px] border-gray-400 rounded-md focus:outline-none focus:ring-2 focus:ring-primary focus:border-transparent;
}

.primary-btn {
  @apply bg-primary text-white px-6 py-3 rounded-md hover:bg-primaryDark transition;
}
.container {
  padding-inline: var(--container-padding);
}

@media (min-width: 640px) {
  .container {
    padding-inline: var(--container-sm-padding);
  }
}
/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
